body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }

/* add a floating sidebar in the top left */
.intro-sidebar {
    position: absolute;
    width: 250px;
    z-index: 10;
    background: #969696;
    padding: 12px;
    border-radius: 8px;
    margin-top: 15px;
    margin-left: 15px;
    font-family: sans-serif
}

/* styles for text areas in the sidebar */
#explainer, .description-text {
    font-size: 14px;
    margin-bottom: 15px;
  }
#action step, .description-text {
    font-size: 14px;
    margin-bottom: 15px;
}
  
#title {
      font-size: 20px;
      font-weight: 700;
      margin-bottom:8px;
  }

  /* Style the labels */
  
  .label {
            font: 12px/20px 'Arial', sans-serif;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 5px;
            border-radius: 3px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

/* Town info sidebar */

.law-requirement-sidebar {
    position: absolute;
    width: 250px;
    z-index: 10;
    background: #969696;
    padding: 12px;
    border-radius: 8px;
    margin-top: 15px;
    margin-left: 15px;
    font-family: sans-serif
}

/* styles for text areas in the sidebar */
#town, .description-text {
    font-size: 14px;
    margin-bottom: 15px;
  }
#requirement, .description-text {
    font-size: 14px;
    margin-bottom: 15px;
}
